@import url('https://fonts.googleapis.com/css2?family=Asap+Condensed:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Erica+One');

:root {
  font-family: Asap Condensed, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.1;
  font-weight: 400;
  outline: none;

  color-scheme: light dark;
  color: black;
  background-color: #f0f0f0;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --darkblue: #040b4c;
  --darkred: #990E13;
}

img {
  display: block;
  object-fit: cover;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}

h1 {
  font-size: 3em;
  line-height: 1.1;
}

h2 {
  font-size: 2em;
}

p{
  font-size: 1em;
}

ul{
  font-size: 1em;
  padding-left: 50px;
  list-style: square;
  line-height: 1.5em;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: white;
  background-color: var(--darkblue);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  background-color: darkblue;
}

.card {
  padding: 2em;
}

#app {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  overflow-x: hidden;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
